.wrapper {
    /*background-color: #0c373a;*/
    /*width: 400px;*/
    /*margin: 50px 100px 30px 100px;*/
    /*box-shadow: 5px 3px;*/
    /*align-content: center;*/
    /*padding: 20px 0;*/
    display: flex;
    justify-content: center;
}
.generalBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    padding-top: 10px;
    background-color: #0c373a;
    width: 400px;
    margin: 40px 20px 20px 20px;
    box-shadow: 5px 3px;
    align-content: center;
}

.count {
    font-size: 30px;
    color: orange;
    border: 2px solid darkorange;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 0;
}

.countCentered {
    font-size: 30px;
    color: orange;
    border: 2px solid darkorange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 10px 20px 10px;
    padding: 0;
}

.count--disabled {
    color: rgba(111, 159, 148, 0.79);
    opacity: 0.7;
}

.btn--box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 20px 0px 20px;
}

button {
    text-align: center;
    background-color: orange;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    font-size: large;
    font-family: Calibri, serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 0;
    margin: 3px 8px 3px 8px;
}

.buttonDisabled {
    text-align: center;
    background-color: rgba(111, 159, 148, 0.79);
    color: orange;
    width: 100px;
    height: 50px;
    font-size: large;
    font-family: Calibri, serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 0;
    margin: 5px 10px 5px 10px;
}

.display-text {
    color: orange;
}

input {
    width: 100px;
    height: 30px;
    background-color: #0c373a;
    color: orange;
    font-size: 18px;
    text-align: center;
    border-color: orange;
    margin: 8px;
}

.values-text {
    color: orange;
    font-size: 20px;
}